<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/Route/etc/routes.xsd">
    <router id="standard">
        <route id="async_catalog" frontName="async_catalog">
            <module name="Perspective_AsyncCatalog" />
        </route>
    </router>
</config>
