<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote\TotalsCollector">
        <plugin name="vendor_bonus_totals_plugin"
                type="Perspective\CartBonus\Plugin\TotalsPlugin"/>
    </type>

    <type name="Perspective\CartBonus\Model\Bonus\Manager">
        <arguments>
            <argument name="bonuses" xsi:type="array">
                <item name="category_qty" xsi:type="object">Perspective\CartBonus\Model\Bonus\Types\CategoryQty</item>
                <item name="shipping" xsi:type="object">Perspective\CartBonus\Model\Bonus\Types\Shipping</item>
                <item name="gift" xsi:type="object">Perspective\CartBonus\Model\Bonus\Types\Gift</item>
            </argument>
        </arguments>
    </type>
</config>
