<!--Use 'stepCode' as id attribute-->
<li data-bind="fadeVisible: isVisible, attr: { id: stepCode }">
    <div class="step-title" data-bind="i18n: stepTitle" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
       <div>TESTTESTTESTTESTTEST</div>
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>

        </form>
    </div>
    <!-- Not selected option -->
    <div class="meme-option">
        <label>
            <input type="radio"
                   name="selected_meme"
                   value=""
                   data-bind="
                   checked: selectedMeme,
                   checkedValue: null
               "/>
            <span>Not selected</span>
        </label>
    </div>

    <!-- Memes list -->
    <!-- ko foreach: memesList -->
    <div class="meme-option">
        <label>
            <input type="radio"
                   name="selected_meme"
                   data-bind="
               checked: $parent.selectedMeme,
               checkedValue: $data
           "/>

            <img data-bind="attr: { src: $data }" alt="Meme"/>
        </label>
    </div>
    <!-- /ko -->
</li>
