<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
    <add
        id="Perspective_Voting::marketing_voting"
        title="Voting"
        module="Perspective_Voting"
        sortOrder="80"
        resource="Perspective_Voting::marketing_voting"
        parent="Magento_Backend::marketing"/> <!-- Marketing -->

    <!-- test -->
    <add
        id="Perspective_Voting::polls_grid"
        title="Voting Grid"
        module="Perspective_Voting"
        sortOrder="10"
        resource="Perspective_Voting::polls_grid"
        parent="Perspective_Voting::marketing_voting"
        action="adminhtml/voting/index"/>
</menu>
</config>
