/* Stripe Express */
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.box-tocart .action.tocart.payment-request-button
{
    padding: 0;
}

:root {
    --stripe-payment-button-min-width: 248px;
}

.payment-request-button {
    min-width: var(--stripe-payment-button-min-width);
    height: auto;
}

.payment-request-button.disabled,
.payment-request-button.disabled * {
    pointer-events: none !important;
}

.payment-request-button.disabled {
    opacity: 0.5;
    filter: grayscale(50%);
}

.catalog-product-view .payment-request-button {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .catalog-product-view .payment-request-button {
        margin-right: 1%;
        width: 49%;
    }
}

.stripe-payments-express-minicart {
    margin-top: 15px;
}

.stripe-payments-express-minicart .payment-request-button, .payment-request-button.cart {
    width: 100% !important;
}

.cart-summary .stripe-payments-express-minicart {
    margin-top: 0;
    margin-bottom: 25px;
}

.block-bundle-summary .box-tocart .actions .payment-request-button {
    min-width: var(--stripe-payment-button-min-width);
}