<div class="block filter">
    <div class="block-title filter-title">
        <strong data-bind="i18n: 'Shop By'"></strong>
    </div>

    <div class="block-content filter-content">
        <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"
                data-bind="i18n: 'Shopping Options'"></strong>

        <dl class="filter-options" id="narrow-by-list">
            <!-- ko foreach: { data: getAggregations(), as: 'aggregation' } -->

            <dt role="heading" aria-level="3" class="filter-options-title"
                data-bind="text: aggregation.label"></dt>

            <dd class="filter-options-content">
                <ol class="items" data-bind="foreach: { data: aggregation.options, as: 'option' }">
                    <li class="item">
                        <a href="#" data-bind="click: function(data, event) { aggregation.boundApplyFilter(aggregation.attribute_code, option.value, event) }">
                            <span data-bind="text: option.label"></span>

                            <!-- ko if: option.count -->
                            <span class="count">
                                    <span data-bind="text: option.count"></span>
                                    <span class="filter-count-label" data-bind="i18n: 'items'"></span>
                                </span>
                            <!-- /ko -->
                        </a>
                    </li>
                </ol>
            </dd>

            <!-- /ko -->
        </dl>
    </div>
</div>
