<div class="products wrapper grid products-grid">
    <ol class="products list items product-items" data-bind="foreach: products">
        <li class="item product product-item">
            <div class="product-item-info" data-container="product-grid">

                <a data-bind="attr: {href: url_key + '.html'}" class="product photo product-item-photo" tabindex="-1">
                    <span class="product-image-container" style="width: 240px;">
                        <span class="product-image-wrapper" style="padding-bottom: 125%;">
                            <img class="product-image-photo"
                                 data-bind="attr: {
                                    src: small_image ? small_image.url : '',
                                    alt: name
                                 }"
                                 width="240" height="300" alt="Product Image">
                        </span>
                    </span>
                </a>

                <div class="product details product-item-details">
                    <strong class="product name product-item-name">
                        <a class="product-item-link"
                           data-bind="attr: {href: url_key + '.html'}, text: name">
                        </a>
                    </strong>

                    <div class="product-reviews-summary short">
                        <div class="rating-summary">
                            <span class="label"><span>Rating:</span></span>
                            <div class="rating-result" title="0%">
                                <span style="width:0%"><span><span>0%</span></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="price-box price-final_price" data-role="priceBox">
                        <span class="price-container price-final_price tax weee">
                            <span class="price-wrapper">
                                <span class="price" data-bind="text: $parent.formatPrice(price_range.minimum_price.final_price)"></span>
                            </span>
                        </span>
                    </div>

                    <div class="product-item-inner">
                        <div class="product actions product-item-actions">
                            <div class="actions-primary">
                                <div class="stock available"
                                     data-bind="visible: $data.stock_status && $data.stock_status === 'IN_STOCK'">
                                    <span data-bind="i18n: 'In stock'"></span>
                                </div>

                                <div class="stock unavailable"
                                     data-bind="visible: !$data.stock_status || $data.stock_status !== 'IN_STOCK'">
                                    <span data-bind="i18n: 'Out of stock'"></span>
                                </div>
                            </div>

                            <div data-role="add-to-links" class="actions-secondary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>
