<div class="block filter">
    <div class="block-title filter-title">
        <strong data-bind="i18n: 'Shop By'"></strong>
    </div>

    <div class="block-content filter-content">

        <!-- ko template: 'Perspective_AsyncCatalog/catalog/filters/item/active' --><!-- /ko -->

        <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"
                data-bind="i18n: 'Shopping Options'"></strong>

        <div class="filter-options" id="narrow-by-list" data-role="content">
            <!-- ko template: 'Perspective_AsyncCatalog/catalog/filters/item/list' --><!-- /ko -->
        </div>
    </div>
</div>
